<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.TeacherMapper" >

  <resultMap id="BaseResultMap" type="com.ssm.vo.TeacherVo" >
    <id column="userId" property="user_id" jdbcType="INTEGER" />
    <result column="userName" property="user_name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthYear" property="birth_year" jdbcType="DATE" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="DATE" />
    <result column="collegeId" property="college_id" jdbcType="INTEGER" />
    <result column="collegeName" property="college_name" jdbcType="VARCHAR"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    user_id, user_name, sex, birth_year, degree, title, grade, college_id
  </sql>
  
  <select id="selectByPrimaryKey" resultType="com.ssm.entity.Teacher" parameterType="java.lang.Integer" >
    select 
    user_id,user_name,sex,birth_year,degree,title,grade,college_id
    from teacher
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAlls" resultMap="BaseResultMap">
  select 
  t.user_id, t.user_name, t.sex, t.birth_year, t.degree, t.title, t.grade, t.college_id, c.college_name
  from teacher t,college c
  where t.college_id=c.college_id
  </select>
  
  <select id="selectByName"  resultMap="BaseResultMap" parameterType="java.lang.String">
  select
   t.user_id, t.user_name, t.sex, t.birth_year, t.degree, t.title, t.grade, t.college_id, c.college_name
  from teacher t,college c
  where t.college_id=c.college_id and t.user_name like '%${userName}%'
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teacher
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.entity.Teacher" >
    insert into teacher (user_id, user_name, sex, 
      birth_year, degree, title, 
      grade, college_id)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birthYear,jdbcType=DATE}, #{degree,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{grade,jdbcType=DATE}, #{collegeId,jdbcType=INTEGER})
  </insert>
  
  <insert id="insertSelective" parameterType="com.ssm.entity.Teacher" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthYear != null" >
        birth_year,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="collegeId != null" >
        college_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthYear != null" >
        #{birthYear,jdbcType=DATE},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=DATE},
      </if>
      <if test="collegeId != null" >
        #{collegeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.Teacher" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update teacher
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthYear != null" >
        birth_year = #{birthYear,jdbcType=DATE},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=DATE},
      </if>
      <if test="collegeId != null" >
        college_id = #{collegeId,jdbcType=INTEGER},
      </if>
    </set>
    where user_id= #{userId,jdbcType=INTEGER}
  </update>

</mapper>